body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 350px;
}

.times,.card-footer,.volume-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.volume-container{
    margin-right: 10px;
}